.material-symbols-outlined {
  vertical-align: middle;
  line-height: 1;
}

.header-img {
    display: block;
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: 0 20%;

}
.nav-header {
    display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
    background-color: aqua;
    
}

.nav-left a {
    padding: 20px;
    text-decoration: none;
}

.nav-left a:hover {
    text-decoration:underline;
}

.nav-right button {
    padding: 10px 20px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aqua;
    border-radius: 2px;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0, 0.2);
    padding: 10px 0;
    margin-top: 20px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
display: block;
padding: 10px 20px;
white-space:  nowrap;
transition: background-color 0.2s ease;
;}

.dropdown-content a:hover {
    background-color: blue;
    border-radius: 4px;
    color: rgb(0, 0, 0);

}


button {
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2),
        

}


button:hover {
    box-shadow:
        0 6px 12px rgba(0,0,0,0.2),
        0 0 12px rgba(255,255,255,0.9);
}