/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

.material-symbols-outlined {
  vertical-align: middle;
  line-height: 1;
}
header {
position: relative;
}

.header-img {
    display: block;
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: 0 20%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(64, 48, 34, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.nav-logo {
    max-height: 1.5rem;
}

.nav-left {
    margin-left: 2vw;
    display: flex;
    align-items: center;
    
}

.nav-left a {
    padding: 20px;
    text-decoration: none;

}

.nav-left a:hover, .nav-left a.active {
    text-decoration: underline;
}

.nav-right {
    margin-right: 2vw;
}

.nav-right button {
    padding: 10px 20px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-brown-dark);
    border-radius: 2px;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,0.2);
    padding: 10px 0;
    margin-top: 20px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    white-space:  nowrap;
;}

/*  .dropdown-content a:hover {
    background-color: var(--color-brown);
    border-radius: 4px;
        background-color: rgba(64, 48, 34, 0.8);
}  */
 
button {
    border: 0;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-default);
    display: inline-flex;
    align-items: center;
    gap: 8px;
}




/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */

.about-hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    gap: 2rem;
    margin: 2rem auto;
    padding: 2rem;

    
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
  
    margin-bottom: 1rem;
    color: var(--color-brown-dark);
}

blockquote {
    font-style: italic;
    color: var(--color-black);
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: var(--color-brown-dark);
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
      line-height: 1.8; 
    max-width: 60ch;
    color: var(--color-black);
}

hr {
    border: none;
    border-top: 0.5px solid var(--color-brown);
    margin: 2rem 0;
}

.respo-hr {
  display: none;
}

.quote-left {
    position: sticky;
    align-self: start;
    top: 2rem
}

/* TABLET */
@media (max-width: 960px) {

.about-hero {
    grid-template-columns: 1fr;
  
}

.quote-left {
    position: static;
}


.respo-hr {
  display: block;
}

}

@media (max-width: 768px) {

}