/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

.material-symbols-outlined {
  vertical-align: middle;
  line-height: 1;
}
header {
position: relative;
}

.header-img {
    display: block;
    width: 100%;
    /* Line 18 on homepage */
    /* max-height: 40vh; */
    /* Line 20 on subpages */
    max-height: 150px;
    object-fit: cover;
    object-position: 0 20%;
}

.nav-logo {
    position: absolute;
    z-index: 11;
    top: 0px;
    left: 0px;
    height: 100px;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(64, 48, 34, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.hamburger {  
    display: none;
    cursor: pointer;
    padding: 10px;
    gap: 5px;
    margin-left: 2vw;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
    border-radius: var(--radius-sm);
}

.nav-left {
    margin-left: 2vw;
    display: flex;
    align-items: center;
    
}

.nav-left a {
    padding: 20px;
    text-decoration: none;

}

.nav-left a:hover, .nav-left a.active {
    text-decoration: underline;
}

.nav-left a.dropbtn:hover,
.nav-left a.dropbtn.active {
    text-decoration: none;
}

.nav-left a.dropbtn:hover .link-product,
.nav-left a.dropbtn.active .link-product {
    text-decoration: underline;
}

.material-symbols-outlined {
  text-decoration: none;
}

.nav-right {
    margin-right: 2vw;
}

.nav-right button {
    padding: 10px 20px;
    margin: 10px;
}

.dropbtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.dropbtn .material-symbols-outlined {
  transition: transform 0.2s ease;
}
.dropbtn:hover .material-symbols-outlined {
  transform: rotate(180deg);
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-brown-dark);
    border-radius: 0 0 var(--radius-sm) var(--radius-sm)    ;
    min-width: 180px;
    padding: 10px 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    white-space:  nowrap;
;}


 
button {
    border: 0;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-default);
    display: inline-flex;
    align-items: center;
    gap: 8px;
}




/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */

.about-hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    gap: 2rem;
    margin: 2rem auto;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
  
    margin-bottom: 1rem;
    color: var(--color-brown-dark);
}

blockquote {
    font-style: italic;
    color: var(--color-black);
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: var(--color-brown-dark);
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
      line-height: 1.8; 
    max-width: 60ch;
    color: var(--color-black);
}

hr {
    border: none;
    border-top: 0.5px solid var(--color-brown);
    margin: 2rem 0;
}

.respo-hr {
  display: none;
}

.quote-left {
    position: sticky;
    align-self: start;
    top: 2rem
}

/* TABLET */
@media (max-width: 960px) {
    /* Header */
    .hamburger {
        display: flex;
        flex-direction: column;
    }

    .nav-left a, .nav-left .dropdown {
        display: none;
    }

    .nav-left.active a, .nav-left.active .dropdown {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

    }
    .nav-left {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--color-brown-dark);
        width: 50vw;
        /*         padding: 1rem 0;
        */        flex-direction: column;
        align-items: flex-start;
        display: none;
        z-index: 20;
        }
        
        .nav-left.active {
            display: flex;
            }
            
            .dropdown-content {
                position: static;
                display: none;
                width: 100%;
                   }

.dropdown.active .dropdown-content {
    display: flex;
    flex-direction: column;
}   


.dropdown:hover .dropdown-content {
        display: none;
    }

.dropbtn.active .material-symbols-outlined {
    transform: rotate(180deg);

}

 .dropdown.active .dropdown-content {
        display: flex;
        flex-direction: column;
    }


    /* About */
.about-hero {
    grid-template-columns: 1fr;
}

.quote-left {
    position: static;
}

.respo-hr {
  display: block;
}
}
*/
@media (max-width: 768px) {

    .nav-left.active {
        width: 90vw;
    } 
}
 