.material-symbols-outlined {
  vertical-align: middle;
  line-height: 1;
}
header {
position: relative;
}

.header-img {
    display: block;
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: 0 20%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(64, 48, 34, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.nav-logo {
    max-height: 1.5rem;
}

.nav-left {
    margin-left: 2vw;
    display: flex;
    align-items: center;
    
}

.nav-left a {
    padding: 20px;
    text-decoration: none;

}

.nav-left a:hover, .nav-left a.active {
    text-decoration: underline;
}

.nav-right {
    margin-right: 2vw;
}

.nav-right button {
    padding: 10px 20px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-brown-dark);
    border-radius: 2px;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,0.2);
    padding: 10px 0;
    margin-top: 20px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    white-space:  nowrap;
;}

/*  .dropdown-content a:hover {
    background-color: var(--color-brown);
    border-radius: 4px;
        background-color: rgba(64, 48, 34, 0.8);
}  */
 
button {
    border: 0;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-default);
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


/* ABOUT */

.about-hero {
    display: flex;
    flex-direction: row;
}


/* TABLET */
@media (max-width: 960px) {

.about-hero {
    max-width: 90%;
    display: flex;
    flex-direction: row;
}

}