@import url(styleguide.css);
@import url(cart.css);

.contact-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
}


.contact-content {
  background-color: #F8F8F8;
  padding: 4rem;
}

.contact-content h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}


.contact-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-form label {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #222;
  padding: 0.5rem 0;
  font-family: inherit;
  background: transparent;
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-form button {
  margin-top: 2rem;
  align-self: flex-start;
}


.contact-info p {
  margin-bottom: 2rem;
  font-size: 0.95rem;
}


.contact-image {
  background-image: url("../img/Bakgrund.png");
  background-size: cover;
  background-position: center;
}


/* *** */
:root {
  color: var(--color-brown-dark);
}

body {
  background-color: var(--color-white);
}

section.contact-hero {
  display: flex;
  justify-content: flex-end;

  & h2 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  & > div {
    flex: 1;
    box-sizing: border-box;

    &:first-child {
      max-width: calc(1200px/2);
      padding: 4rem 2rem;
    }

    &:last-child {
      max-width: 50vw;
    }
  }

  & button {
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: 1em;
  background-color: var(--color-brown-dark);
  color: var(--color-white);
  }
}
/* *** */

@media screen and (max-width: 960px) {
  section.contact-hero {
  flex-direction: column;

  & h2 {
    margin-bottom: 1.25rem;
  }

  & div.contact-content {
    padding: 4rem 1rem;
  }

  & div.contact-image {
    max-width: none;
    min-height: 300px;
  }
  }
}
/* *** */


@media (max-width: 900px) {
  .contact-hero {
    grid-template-columns: 1fr;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .contact-image {
    height: 300px;
  }
}

