/*
* Gruppuppgift: E-shop
* Grupp 4 / FaceRoots
* Oscar Nilsson
* oscar.nilsson@medieinstitutet.se
*/

:root {
    --pageWidth: 1200px; /* Desktop */
    --tabletWidth: 960px;
    --mobileWidth: 768px;
    --sidebarWidth: minmax(150px, 200px);
    --footerHeight: 300px;

    --pageAlignment: center;

    --gridColGap: 2rem;
    --gridRowGap: 2rem;

    --pageBg: #f8f8f8;
    --contentBg: #f8f8f8;

    --color: #403022;
    --linkColor: rgba(64, 48, 34, 1);
    --linkHoverColor: rgba(64, 48, 34, 1);
    --linkTextDecoration: none;
    --linkHoverTextDecoration: underline;
    
    --btnColor: #eee;
    --btnBgColor: rgba(64, 48, 34, 1);
    --btnHoverColor: #333;
    --btnHoverBgColor: rgba(64, 48, 34, .9);
    --btnBorderRadius: 8px;

    --accentColor: #403022;

    --borderRadius: 4px;

    font-family: 'Epilogue', Arial, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 960px) {
    :root {
        --gridColGap: 1rem;
        --gridRowGap: 1rem;

        font-size: 14px;
    }
}

/* @media screen and (max-width: 768px) {
    :root {
        
    }
} */

:root * {
    box-sizing: border-box;
}

body {
    background-color: var(--contentBg);
    color: var(--color);
    min-height: 100svh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    & a {
        color: var(--linkColor);
        text-decoration: var(--linkTextDecoration);

        &:hover {
            color: var(--linkHoverColor);
            text-decoration: var(--linkHoverTextDecoration);
        }
    }

    & button {
        background-color: var(--btnBgColor);
        color: var(--btnColor);
        border: none;
        border-radius: var(--btnBorderRadius);
        cursor: pointer;
        font-weight: 300;

        &:hover {
            background-color: var(--btnHoverColor);
        }
    }
}

/* Temporary until header.html and header.css is available --> */
body > header, body > footer {
    width: 100%;
    color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
        width: 100%;
        max-width: var(--pageWidth);
        text-align: center;
        padding: 0 1rem;
    }

    & div.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
}

body > header {
    background-image: url(../img/header_bg.png);
    background-size: cover;
    background-position: center;
}

body > footer {
    height: 300px;
    background-color: #403022;
}

div#mainContainer {
    max-width: var(--pageWidth);
}
/* --> */

/* Main container: containing sidebar and main */
div#mainContainer {
    flex: 1;
    display: grid;
    align-items: start;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--sidebarWidth) auto;
    gap: var(--gridRowGap) var(--gridColGap);
    padding: var(--gridRowGap) var(--gridColGap);

    & h2 {
        grid-column: 1 / span 3;
        margin: 0;
        margin-bottom: calc(var(--gridRowGap) / 2 * -1);
    }
}

/* Main: containing product cards */
main {
    grid-area: main;
    display: grid;
    gap: var(--gridRowGap) var(--gridColGap);
    grid-template-columns: 1fr 1fr 1fr;
}

/* Product card */
article.productCard {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    align-items: center;
    opacity: 0;
    animation-name: productCard;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    border-radius: var(--borderRadius);
    overflow: hidden;
    grid-row-gap: calc(var(--gridRowGap) / 2); 
    padding: var(--gridRowGap) var(--gridColGap);

    & > *:not(.action) {
        grid-column: 1 / span 2;
    }

    & header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            "productImage productImage"
            "productName productName"
            "productBrand productPrice"
            "productCategory productPrice";

        & figure {
            
            margin: 0;
            width: 100%;
            grid-area: productImage;

            & a {
                display: block;
            }

            & img {
                width: 100%;
                height: auto;
                /* aspect-ratio: 4/3;
                object-fit: cover; */
            }

            & figcaption {
                display: none;
            }
        }

        & h3.productName {
            grid-area: productName;
            margin: 0;
            font-size: 1em;
            white-space: wrap;
            margin-bottom: .5em;
        }

        & span.productPrice {
            grid-area: productPrice;
            text-align: right;
            font-size: 1em;
            white-space: nowrap;
        }

        & span.productBrand {
            grid-area: productBrand;
            font-size: .8em;
        }

        & span.productCategory {
            grid-area: productCategory;
            opacity: .5;
            font-size: .8em;
        }
    }

    & p.productDescription {
        display: none;
    }

    & p.productDetails {
        display: none;
    }

    /* & a.action {
        text-decoration: underline;
    } */

    & button.buy {
        font-size: 1rem;
        padding: .5em .5em;
        white-space: nowrap;
    }
}

/* Sidebar */
aside {
    position: sticky;
    top: var(--gridRowGap);
    align-self: start;

    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: var(--gridColGap);

    &.fixed {
        position: fixed;
    }

    & > * {
        border-radius: var(--borderRadius);
        background-color: var(--contentBg); /* var(--contentBg); */
    }

    & nav {
        display: flex;
        flex-direction: column;
        gap: var(--gridRowGap);

        & ul {
            margin: 0;
            list-style: none;
            padding: 0;
        }

        & > ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            /* font-weight: bold; */

            & ul {
                font-weight: normal;
                margin: .5rem;
                display: none;
            }
        }

        & label {
            cursor: pointer;
        }

        & input[type="checkbox"] {
            margin-right: .5em;
            vertical-align: .1em;
            accent-color: var(--accentColor);
        }

        & label {
            color: var(--linkColor);

            &:hover {
                color: var(--linkHoverColor);
                text-decoration: var(--linkHoverTextDecoration);
            }
        }
    }
}

/* Cart */
div#cart {
    display: none;
}

/* Mockup panel */
div#mockupPanel {
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    align-items: center;
    gap: .5rem;
    transition: transform .25s ease;
    transform: translateY(70%) translateX(-50%);
    background-color: var(--contentBg);
    color: var(--color);
    padding: 1rem;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);

    &.open {
        transform: translateY(0) translateX(-50%);
    }

    & a.close {
        grid-column: 2 / 3;
        text-align: right;
        cursor: pointer;
    }

    & h3 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin: 0;
    }

    & input {
        font-size: inherit;
        border-radius: var(--borderRadius);
        border: 1px solid #ccc;
        padding: .33em 0 .33em .33em;
        overflow: hidden;
    }
}

/* Responsiveness: tablet */
@media screen and (max-width: 960px) {
    div#mainContainer {
        width: 100%;
        grid-template-areas: 
            "sidebar" 
            "main";
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;

        & main {
            grid-template-columns: 1fr 1fr 1fr;

            & h2 {
                grid-column: 1 / span 3;
            }

            & article.productCard {
                padding: var(--gridRowGap) var(--gridColGap);
                grid-row-gap: var(--gridRowGap); 
            }
        }

        & aside {
            margin: 
                calc(var(--gridRowGap) * -1) 
                calc(var(--gridColGap) * -1) 
                0 
                calc(var(--gridColGap) * -1); /* To compensate for grid gap and horizontal padding */
            top: 0;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, .25);

            & nav {
                padding: var(--gridRowGap) var(--gridColGap);
                overflow-x: scroll;

                & > ul {
                    flex-direction: row;
                }

                & input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;

                    &:checked + label {
                        background-color: var(--accentColor);
                        color: var(--contentBg);

                        &:hover {
                            background-color: var(--btnHoverBgColor);
                            text-decoration: none;
                        }
                    }
                }

                & label {
                    color: var(--linkColor);
                    padding: .33em .5em .25em .5em;
                    border-radius: 6px;

                    &:hover {
                        color: var(--linkHoverColor);
                    }
                }
            }
        }
    }
}

/* Responsiveness: mobile */
@media screen and (max-width: 768px) {
    div#mainContainer {
        & main {
            grid-template-columns: 1fr 1fr;

            & h2 {
                grid-column: 1 / span 2;
            }
        }
    }
}

/* Animation: fade-in mockup product cards */
@keyframes productCard {
    0% { opacity: 0; }
    100% { opacity: 1; }
}