:root {
    --pageWidth: 1200px; /* Desktop */
    --tabletWidth: 960px;
    --mobileWidth: 768px;
    --sidebarWidth: 250px;
    --pageAlignment: center;
    --gridGap: 4rem 2rem;

    --pageBg: #fff;
    --contentBg: #fff;

    --color: #222;
    --linkColor: #222;
    --linkHoverColor: #333;
    --btnColor: #eee;
    --btnBgColor: #222;
    --btnHoverColor: #333;

    --borderRadius: 4px;

    font-family: 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
}

:root * {
    box-sizing: border-box;
}

body {
    background-color: var(--pageBg);
    min-height: 100svh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gridGap);

    & a {
        color: var(--linkColor);

        &:hover {
            color: var(--linkHoverColor);
        }
    }

    & button {
        background-color: var(--btnBgColor);
        color: var(--btnColor);
        border: none;
        border-radius: var(--borderRadius);
        cursor: pointer;

        &:hover {
            background-color: var(--btnHoverColor);
        }
    }
}

/* Temporary until header.html and header.css is available --> */
div#mainContainer, div#cart {
    max-width: var(--pageWidth);
}

header, footer {
    padding: 2rem;
    width: 100%;
    background-color: #222;
    color: #eee;

    & > * {
        margin: 0 auto;
        max-width: var(--pageWidth);
    }
}

div#cart {
    margin: 0 auto;
    text-align: right;
    padding: .5rem 2rem;
}
/* --> */

div#mainContainer {
    flex: 1;
    display: grid;
    align-items: start;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--sidebarWidth) auto;
    gap: var(--gridGap);
}

main {
    grid-area: main;
    display: grid;
    gap: var(--gridGap);
    grid-template-columns: 1fr 1fr 1fr;

    & h2 {
        grid-column: 1 / span 3;
        margin: 0;
    }

    & a {
        color: inherit;
        text-decoration: none;
    }
}

article {
    background-color: var(--contentBg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;

    & > *:not(.action) {
        grid-column: 1 / span 2;
    }

    & figure {
        margin: 0;
        width: 100%;

        & img {
            width: 100%;
            height: auto;
        }

        & figcaption {
            display: none;
        }
    }

    & p.productDetails {
        display: none;
    }

    & button.buy {
        font-size: 1em;
        padding: .33em 1em;
    }

    & button.buy + a {

    }
}

aside {
    grid-area: sidebar;
    
    & nav {
        border: 1px solid;
        background-color: var(--contentBg);
        border-width: 1px 0;
    }
}

#mockupPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: .5rem 0;
    row-gap: .5rem;
    border-top: 1px solid;

    & h3 {
        grid-column: 1 / span 2;
        margin: 0;
    }
}

/* Tablet */
@media screen and (max-width: 960px) {
    div#mainContainer {
        grid-template-areas: 
            "sidebar" 
            "main";
        grid-template-columns: auto;
        gap: var(--gridGap);
        margin: 0 1rem;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;

        & h2 {
            grid-column: 1 / span 3;
        }
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    div#mainContainer {
        grid-template-areas: 
            "sidebar" 
            "main";
        grid-template-columns: auto;
        gap: var(--gridGap);
        margin: 0 1rem;
    }

    main {
        grid-template-columns: 1fr 1fr;

        & h2 {
            grid-column: 1 / span 2;
        }
    }
}