.material-symbols-outlined {
  vertical-align: middle;
  line-height: 1;
}

.header-img {
    display: block;
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: 0 20%;

}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--color-brown-dark);
}

.nav-left a {
    padding: 20px;
    text-decoration: none;
}

.nav-left a:hover, .nav-left a.active {
    text-decoration: underline;
}

.nav-right button {
    padding: 10px 20px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-brown-dark);
    border-radius: 2px;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,0.2);
    padding: 10px 0;
    margin-top: 20px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    white-space:  nowrap;
;}

.dropdown-content a:hover {
    background-color: var(--color-brown);
    border-radius: 4px;
}
 
button {
    border: 0;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-default);
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


.productPage {
    max-width: var(--pageWidth);
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.productMedia img {
    width: 100%;
    border-radius: var(--borderRadius);
    background-color: #fff;
    object-fit:fill; max-width: 150px;
    justify-content: space-between;
    margin: 50px;
}


.productInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productTitle {
    margin: 0;
}

.category {
    opacity: 0.6;
    font-size: 0.85em;
    font-weight: bold;
}


.purchaseActions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.purchaseActions button {
    padding: 0.75em 1.5em;
    font-size: 1rem;
}


.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

/* description */
.description h3 {
    margin-bottom: 0.25rem;
}

.description p {
    margin: 0;
    line-height: 1.6;
}

.productDetails {
    margin-top: 1.5rem;
    background-color: #fff;
    border-radius: var(--borderRadius);
    padding: 1rem;
}

.productDetails summary {
    cursor: pointer;
    font-weight: bold;
    list-style: none;
}

.productDetails summary::-webkit-details-marker {
    display: none;
}

.productDetails summary::after {
    content: "＋";
    float: right;
}

.productDetails[open] summary::after {
    content: "−";
}

.productDetails ul {
    margin-top: 1rem;
    padding-left: 1rem;
}

@media screen and (max-width: 768px) {
    .productPage {
        grid-template-columns: 1fr;
    }
}