/*
* Gruppuppgift: E-shop
* Grupp 4 / FaceRoots
* Oscar Nilsson
* oscar.nilsson@medieinstitutet.se
*/

:root {
    --pageWidth: 1200px; /* Desktop */
    --tabletWidth: 960px;
    --mobileWidth: 768px;
    --sidebarWidth: 250px;

    --pageAlignment: center;

    --gridColGap: 2rem;
    --gridRowGap: 2rem;

    --pageBg: #f8f8f8;
    --contentBg: #f8f8f8;

    --color: #403022;
    --linkColor: rgba(64, 48, 34, 1);
    --linkHoverColor: rgba(64, 48, 34, 1);
    --linkTextDecoration: none;
    --linkHoverTextDecoration: underline;
    
    --btnColor: #eee;
    --btnBgColor: rgba(64, 48, 34, 1);
    --btnHoverColor: #333;
    --btnHoverBgColor: rgba(64, 48, 34, .9);
    --btnBorderRadius: 8px;

    --borderRadius: 4px;

    font-family: 'Epilogue', Arial, Verdana, sans-serif;
    font-weight: 400;;
}

:root * {
    box-sizing: border-box;
}

body {
    background-color: var(--contentBg);
    min-height: 100svh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gridRowGap);

    & a {
        color: var(--linkColor);
        font-size: .8em;
        text-decoration: var(--linkTextDecoration);

        &:hover {
            color: var(--linkHoverColor);
            text-decoration: var(--linkHoverTextDecoration);
        }
    }

    & button {
        background-color: var(--btnBgColor);
        color: var(--btnColor);
        border: none;
        border-radius: var(--btnBorderRadius);
        cursor: pointer;
        font-weight: 300;

        &:hover {
            background-color: var(--btnHoverColor);
        }
    }
}

/* Temporary until header.html and header.css is available --> */
div#mainContainer, div#cart {
    max-width: var(--pageWidth);
}

header, footer {
    width: 100%;
    background-color: #0D0D0D;
    color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    & > * {
        width: 100%;
        max-width: var(--pageWidth);
        text-align: center;
    }

    & div.container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}

header {
    background-image: url(../img/header_bg.png);
    background-size: cover;
    background-position: center;
}
/* --> */

/* Main container: containing sidebar and main */
div#mainContainer {
    flex: 1;
    display: grid;
    align-items: start;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--sidebarWidth) auto;
    gap: var(--gridRowGap) var(--gridColGap);
    padding: 0 1rem;

    & h2 {
        grid-column: 1 / span 3;
        margin: 0;
    }
}

/* Main: containing product cards */
main {
    grid-area: main;
    display: grid;
    gap: var(--gridRowGap) var(--gridColGap);
    grid-template-columns: 1fr 1fr 1fr;
}

/* Product card */
article {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation-name: productCard;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    border-radius: var(--borderRadius);
    overflow: hidden;
    padding: 2rem;

    & > *:not(.action) {
        grid-column: 1 / span 2;
    }

    & figure {
        margin: 0;
        width: 100%;

        & a {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }

        & figcaption {
            display: none;
        }
    }

    & span.category {
        opacity: .5;
        font-weight: bold;
        font-size: .8em;
    }

    & p.productDetails {
        display: none;
    }

    /* & a.action {
        text-decoration: underline;
    } */

    & button.buy {
        font-size: 1rem;
        padding: .5em .5em;
        white-space: nowrap;
    }
}

/* Sidebar */
aside {
    position: absolute;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: var(--gridColGap);

    &.fixed {
        position: fixed;
    }

    & > * {
        border-radius: var(--borderRadius);
        background-color: var(--contentBg); /* var(--contentBg); */
        padding: 1rem;
    }

    & nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & ul {
            margin: 0;
            list-style: none;
            padding: 0;
        }

        & > ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            /* font-weight: bold; */

            & ul {
                font-weight: normal;
                margin: .5rem;
                display: none;
            }
        }

        & label {
            cursor: pointer;
        }

        & input[type="checkbox"] {
            margin-right: .5em;
            vertical-align: .1em;
            accent-color: #BF8C6F;
        }
    }
}

/* Mockup panel */
#mockupPanel {
    position: fixed;
    bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    align-items: center;
    gap: .5rem;
    transform: translateY(calc(78%));
    transition: transform .25s ease;

    background-color: var(--contentBg);
    padding: 1rem;
    border-radius: var(--borderRadius);

    &.open {
        transform: translateY(0);
    }

    & a.close {
        grid-column: 2 / 3;
        text-align: right;
        cursor: pointer;
    }

    & h3 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin: 0;
    }

    & input {
        font-size: inherit;
        border-radius: var(--borderRadius);
        border: 1px solid #ccc;
        padding: .33em 0 .33em .33em;
        overflow: hidden;
    }
}
/* For debuging 
aside {
    height: 500px !important;
    background-color: red !important;

    & nav {
        background-color: yellow !important;
    }
}
*/


/* Responsiveness: tablet */
@media screen and (max-width: 960px) {
    div#mainContainer {
        width: 100%;
        grid-template-areas: 
            "sidebar" 
            "main";
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        gap: var(--gridColGap);
        padding: 0 2rem;

        & main {
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 5rem;

            & h2 {
                grid-column: 1 / span 3;
            }
        }

        & aside {
            margin-top: calc(var(--gridRowGap) * -1);
            right: 0;
            left: 0;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, .25);

            & nav {
                padding: 2rem;
                overflow-x: scroll;

                & > ul {
                    flex-direction: row;
                }

                & input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;

                    &:checked + label {
                        background-color: #BF8C6F;
                        color: var(--contentBg);
                    }
                }

                & label {
                    color: var(--linkColor);
                    padding: .33em .5em .25em .5em;
                    border-radius: 6px;

                    &:hover {
                        color: var(--linkHoverColor);
                        text-decoration: var(--linkHoverTextDecoration);
                    }
                }
            }
        }
    }
}

/* Responsiveness: mobile */
@media screen and (max-width: 768px) {
    div#mainContainer {
        & main {
            grid-template-columns: 1fr 1fr;

            & h2 {
                grid-column: 1 / span 2;
            }
        }
    }
}

/* Animation: fade-in mockup product cards */
@keyframes productCard {
    0% { opacity: 0; }
    100% { opacity: 1; }
}