:root {
    --pageWidth: 900px;
    --sidebarWidth: 250px;
    --pageAlignment: center;
    --gridGap: 1rem;

    --pageBg: #fff;
    --contentBg: #fff;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
}

:root * {
    box-sizing: border-box;
}

body {
    background-color: var(--pageBg);
    min-height: 100svh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gridGap);
}

/* Temporary until header.html and header.css is available --> */
div#mainContainer, div#cart {
    max-width: var(--pageWidth);
}

header, footer {
    text-align: center;
    padding: 2rem;
    width: 100%;
    background-color: #333;
    color: #eee;
}

div#cart {
    margin: 0 auto;
    text-align: right;
    padding: .5rem 2rem;
}
/* --> */

div#mainContainer {
    flex: 1;
    display: grid;
    align-items: start;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--sidebarWidth) auto;
    gap: var(--gridGap);
}

main {
    grid-area: main;
    display: grid;
    gap: var(--gridGap);
    grid-template-columns: 1fr 1fr 1fr;

    & h2 {
        grid-column: 1 / span 3;
        margin: 0;
    }

    & a {
        color: inherit;
        text-decoration: none;
    }
}

article {
    background-color: var(--contentBg);
    display: flex;
    flex-direction: column;
    align-items: center;

    & figure {
        margin: 0;
        width: 100%;

        & img {
            width: 100%;
            height: auto;
        }

        & figcaption {
            display: none;
        }
    }

    & p.productDetails {
        display: none;
    }

    & button.buy {
        font-size: 1em;
        padding: .5em 1em;
        cursor: pointer;
    }

    & button.buy + a {
        display: none;
    }
}

aside {
    grid-area: sidebar;
    
    & nav {
        border: 1px solid;
        background-color: var(--contentBg);
        border-width: 1px 0;
    }
}